.button-wrapper {
    display: inline-block;
    max-width: 200px;
    position: relative;
  }
  
  
  .footer-button {
    width: 200px;
    height: 50px;
    padding: 10px 64px 10px 31px;
    
    
    
   &__text {
    margin-right: 34px;
  }
   &__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    cursor: pointer;
    
  }
  }
  
  
  
  