.logo {
    margin-right: 93px;
    font-family: $font-raleway;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--header-logo-color);
    text-decoration: none;
  }
  .front-logo {
    color: var(--active-color);
  }