:root {
    --main-color: #212121;
    --link-color: #757575;
    --active-color: #2196f3;
    --background-footer-color: #2f303a;
    --white-color: #ffffff;
    --header-logo-color: #000000;
    --background-hero-color: #2f303a;
    --filters-button-background-color: #f5f4fa;
    --border-color: #eeeeee;
    --team-background-color: #f5f4fa;
  }

  $font-roboto: "Roboto", sans-serif;
  $font-raleway: "Raleway";